
		<div class="modal-content">
			<h4><i class="material-icons">check</i> Select Songs</h4>
			<div>
				<ul id="allsonglist" class="collection allsonglist">
					
				</ul>
			</div>
		</div>
		<div class="modal-footer">
			<a id="btn_complete_selecting_songs" href="#!" class="waves-effect waves-green btn-flat">OK</a>
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>

<script>
		$('#btn_complete_selecting_songs').click(function(){
			var songs_data = {}; // {'0': '2QtH2C8iUViR9T7OVZYkhh5DGEDYsf1t', '1': 'TL402xKSg0D4sJgxUgNwM0ZSsjGqn8LB', '2': 'qwfEMjJWGnXTMj7gwWujKX6u2cOKOILh', ...}
			var paramlist = new Array();
			
			$('#allsonglist > .active').each(function(i){
				paramlist.push($(this).find(".fileparam").text());
				songs_data[i] = $(this).find(".fileparam").text();
			});
			alert(paramlist);
			
			
			$.ajax({
				type: "POST",
				contentType: 'application/json',
				dataType: "json",
				url: "/proc/addSongsByExistingSong",
				data: JSON.stringify(songs_data),
				success: function(data) {
					alert("complete.");
					getPlayList();
					$('#modalSongConfirm').modal("close");
				},
				error: function(request, status, error) {
					console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					alert('ERROR.');
				}
			});
		});
</script>